*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
  }
body{
    background-color: black;
}

/* Header area  */
.header{
  width: 100%;
  background: linear-gradient(180.00deg,  rgb(17, 17, 17),rgba(119, 119, 119, 9) 500%);
  position: relative;
}

.logo-area{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.logo-main{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    margin-top: 50px;
}

.fa-bars{
    margin-top: 50px;
    color: white;
    position: absolute;
    left: 90%;
    top: 1%;
    font-size: 25px;
    display: none;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-nav ul{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 38px 12px 3px;
    border-radius: 39px;
}
.header-nav ul li {
    list-style: none;
    margin-right: 47px;
}
.header-nav ul li a{
    text-decoration: none;
    color: white;
}
.home{
    background-color: rgb(230, 83, 60);
    padding: 10px 35px 10px 35px;
    border-radius: 39px;
    font-size: 18px;
}

/* tittle area */
.tittle-area{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.header-tittle{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
}
.miama{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
}

.header-sub{
    margin-top: 28px;
}

.tittle-text button{
    margin-top: 28px;
}

.download{
    padding: 15px 40px;
    border-radius: 42px;
    border: 1px solid white;
    background: transparent;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}

.header-image{
    position: relative;
}

.workout-video{
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 17px 23px 41px 24px;
    position: absolute;
    top: 18%;
    left: 60%;
}
.video-tutorial{
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 17px 23px 41px 15px;
    display: flex;
    position: absolute;
    top: 70%;
    right: 72%;
}
.ball{
    height: 30px;
    width: 30px;
    background-color: rgb(230, 83, 60);
    border-radius: 100%;
    margin-top: 20px;

}
.ball-main{
    margin-top: 10px;
    margin-left: 13px;
}
.ball-tittle{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
.workout-tittle{
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
.workout-sub{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* Header area */


/* Shared style */
.subtittle{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.shared-btn{
    padding: 15px 40px 15px 40px;
    border-radius: 42px;
    border: none;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    color: white;
}



/* Shared style */

/* Habbit text area */
.habit-text{
    width: 1044px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}
.habbit-tittle{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.habbit-sub{
    margin-top: 15px;
    text-align: center;
}

/* image discription */

.image-details img{
    border-radius: 50%;
}

.image-discription{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 70px;
    align-items: center;
    text-align: center;
}
.time-tittle{
    color: white;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.image-sub{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

/* Habbit text area */

/* Run area */
    .run-area{
        width: 1060px;
        height: 370px;
        margin: 0 auto;
        background-color: rgb(34, 34, 34);
        margin-top: 120px;
        border-radius: 18px;
    }
    .run-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .run-image img{
        width: 366px;
        height: 300px;
        margin-right: 32px;
        margin-top: 35px;
        border-radius: 18px;
    }
    .run-text{
        margin-left: 54px;
        margin-top: 50px;
        width: 370px;
    }

    .run-tittle{
        font-size: 3rem;
        font-weight: 900;
        color: white;
    }
    .run-subtittle{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 20px;
    }

    .join-btn{
        padding: 14px 70px 14px 70px;
        border: none;
        border-radius: 42px;
        background-color: rgb(230, 83, 60);
        color: white;
        font-size: 14px;
        font-weight: 600;
        margin-top: 35px;
    }
/* Run area */

/* Training and exercise */
    .training{
        width: 1060px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .training-tittle{
        font-size: 3rem;
        font-weight: 900;
        color: white;
        
    }
    .training-subtittle{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 0.3px;
        margin-top: 14px;
        
    }

    .image-collage{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .image-1{
        height: 218px;
        width: 100%;
    }
    
/* Training and exercise */

/* BMI Calculator */
.bmi{
    width: 600px;
    margin: 0 auto;
    margin-top: 88px;
}
.bmi-tittle{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.bmi-subtittle{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}

/* bmi chart */
.bmi-chart{
    height: 500px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    margin-top: 90px;
    margin: 0 auto;
    margin-top: 90px;
}
.bmi-with{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.cart-tittle{
    font-size: 1.75rem;
    color: white;
    margin-top: 60px;
}

/* table */
table{
    border-collapse: collapse;
    margin-top: 55px;
}
td, th{
    border:1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 40px;
    width: 160px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* form */
.common{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.common input{
    height: 50px;
    width: 280px;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-right: 15px;
}
.common input::placeholder{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.calculate-form{
    margin-top: 34px;
}
.sex-frm{
    display: flex;
    align-items: center;
}
.fa-chevron-down{
    margin-left: -55px;
    margin-top: -12px;
    color: rgba(255, 255, 255, 0.6);
}

.calculate-sub{
    font-size: 14px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.5);
}


.factor input{
    height: 50px;
    width: 575px;
    border-radius: 8px;
    background: transparent;
    background-color:  rgba(255, 255, 255, 0.1);
    border: none;
}

.factor input::placeholder{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

#down{
    margin-left: -45px;
    margin-top: -12px;
    color: rgba(255, 255, 255, 0.6);
}
.calculate-btn{
    padding: 15px 70px 15px 70px;
    border-radius: 42px;
    border: none;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    color: white;
    margin-top: 35px;
}


/* Team area */

.team-tittle{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 100px;
}

.team-sub{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 15px;
}
.photo{
    width: 1060px;
    height: 610px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
}
.photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6{
    height: 280px;
    width: 335px;
    margin-top: 15px;
    margin-left: 10px;
}

.trainer-text{
    margin-top: -55px;
    margin-left: 15px;
}

.trainer-1{
    width: 100%;
    height: 270px;
    border-radius: 18px;
    
}
.trainer-tittle{
    color: white;
    
}
.trainer{
    color: rgb(141, 141, 141);
   
    
}


/* ------------------------------------Challenge part----------------------------------- */
    .challenge-part{
        display: flex;
        justify-content: space-between;
        width: 1060px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .run{
        height: 480px;
        border-radius: 18px;
        
    }

    .stop{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: rgba(255, 255, 255, 0.5);
    }

    .challenge-tittle{
        font-size: 3rem;
        font-weight: 900;
        color: white;
        margin-top: 30px;
    }

    .community{
        background-color: rgb(230, 83, 60);
        padding: 15px 40px 15px 40px;
        border: none;
        margin-top: 45px;
        color: white;
        font-size: 18px;
        font-weight: 400;
        border-radius: 42px;
    }

    .inspired-card{
        height: 220px;
        width: 350px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 18px;
        margin-bottom: 35px;
    }

    .inspired-tittle{
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        padding-top: 40px;
        margin-left: 30px;
    }
    .inspired-sub{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 15px;
        margin-left: 30px;
    }

    .explore{
        margin-top: 35px;
        margin-left: 30px;
        padding: 10px 25px 10px 25px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        background-color: rgb(230, 83, 60);
        border: none;
        border-radius: 42px;
    }


/* ------------------------------------Challenge part----------------------------------- */



/* footer area  */

.footer-area{
    width: 100%;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 90px;
}
.top{
    margin-top: 70px;
}
.footer-discription{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-tittle{
    font-size: 4.3rem;
    font-weight: 900;
    color: rgb(230, 83, 60);
}
.footer-sub{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    line-height: 24px;
}
.responsive-issue{
    display: flex;
    gap: 200px;
}

.started{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.footer-btn ul li{
    list-style: none;
    margin-top: 40px;
    margin-bottom: 30px;
}
.footer-btn ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
}

.footer-line{
    width: 1060px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.1);
    margin-top: 70px;
}
.reserved{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 25px;
}

/* CSS end */


/* -------------------Tablet version Media Query------------------------- */
@media screen and (min-width:576px) and (max-width:992px) {
  .logo-area{
    width: 100%;
  }
  .tittle-area{
    flex-direction: column;
    width: 100%;
  }
  .workout-video{
    left: 50%;
  }

  .video-tutorial{
    right: 65%;
  }
  .logo-main{
    margin-left: 30px;
  }
 .header-nav{
    margin-right: 30px;
 }
 .header-tittle,
 .header-sub,
 .join {
 margin-left: 42px;
 }


 .head-image{
   margin-left: 150px;
 }

 /* habbit text */
 .habit-text{
    width: 100%;
 }
 
.image-discription{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
}
/* run area */
.run-area{
    width: 700px;
}
.run-tittle{
    font-size: 2.2rem;
}
.run-image img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.run-text{
    margin-left: 20px;
    align-items: center;
    
}
.run-tittle{
    font-size: 3rem;
}
.run-subtittle{
    align-items: center;
    font-size: 12px;
}


/* Exercise area */
.training{
    display: none;
}

/* BMI Table and form */
.bmi-with{
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.cart-tittle, table, .calculate-sub{
    margin-left: 50px;
}
.bmi-chart{
    width: 100%;
    height: 1050px;
}

.common input{
    margin-left: 50px;
    width: 320px;
   
}
.sex-frm, .weight{
    margin-left: -40px;
}
.factor input{
    margin-left: 50px;
    width: 665px;
}
.calculate-btn{
    margin-left: 50px;
}

/* team area */
.photo{
    width: 100%;
}
.photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6{
    width: 200px;
    height: 220px;
    margin-left: 25px;
}

.trainer-1{
    height: 230px;
}
/* footer */

.footer-discription{
    flex-direction: column;
}
.footer-line{
width: 90%;
}
.footer-area{
    height: 850px;
}
.footer-discription{
    width: 100%;
   
}
.footer-tittle, .footer-sub, .footer-btn ul li, .footer-line, .reserved, .started{
    margin-left: 30px;
}


/* challenger area */
.challenge-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.challenge-text{
    margin-left: 30px;
}
.challenge-card{
    margin-left: 30px;
}
}




/* footer area */






/* -------------------Tablet version Media Query------------------------- */


/* --------------------Phone version Media Query------------------------- */
@media screen and (max-width:576px) {
    .fa-bars{
        display: block;
    }
    .header-nav{
        display: none;
    }

    .logo-area{
        width: 100%;
    }
  
    .logo-main{
        margin-left: 20px;
    }

    /* tittle area */
    .header-tittle{
        font-size: 3rem;
        margin-left: 20px;
    }
    .header-sub{
        font-size: 15px;
        margin-left: 20px;
        
    }
    .tittle-area{
        flex-direction: column;
        width: 100%;
    }

    
    .workout-video{
        top: 14%;
        left: 48%;
    }
    .video-tutorial{
        top: 40%;
        right: 48%;
    }

    .miama{
        font-size: 6rem;
    }
   .download{
    margin-left: 5px;
   }
   .join{
    margin-left: 8px;
   }

   /* Habbit text */
   .habit-text{
    width: 100%;
    margin-top: 10px;
 }
  .habbit-tittle{
    font-size: 2rem;
  }
  .habbit-sub{
    font-size: 14px;
  }

  .image-discription{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

  /* image discription */

  /* run area */
  .run-area{
    width: 400px;
    height: 630px;
  }
  .run-flex{
    flex-direction: column;
  }
  .run-text{
    margin-left: 5px;
  }
  .run-tittle{
    font-size: 2.3rem;
  }
  .run-subtittle{
    font-size: 14px;
  }
 
  .run-image img{
    width: 325px;
    height: 200px;
    margin-left: 25px;
    margin-bottom: 100px;
}
.join-btn{
    padding: 14px 135px 14px 135px;
    margin-left: 15px;
}

/* exercise */
.training{
    display: none;
}

/* table and from */
.bmi-with{
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.bmi-chart{
    width: 100%;
    height: 840px;
}

.common input{
    width: 170px;
    height: 40px;
    margin-left: 20px;
}
.factor input{
    width: 360px;
    height: 40px;
    margin-left: 20px;
}

 table, .calculate-sub, .cart-tittle{
    margin-left: 20px;
}
.bmi-tittle{
    font-size: 2.5rem;
    margin-left: 20px;
}
.bmi-subtittle{
    margin-left: 20px;
}

.bmi{
    width: 380px;
}
.sex-frm, .weight{
    margin-left: -25px;
}
.calculate-btn{
    margin-left: 20px;
}

/* Team area */
.photo{
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    height: 1950px;
    
}

.trainer-1{
    height: 280px;
}

/* footer area */
.footer-discription{
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.responsive-issue{
    flex-direction: column;
}
.footer-line{
    width: 90%;
}
.footer-area{
    height: 1200px;
}
.responsive-issue{
    gap: 5px;
}

.footer-tittle{
    font-size: 2.5rem;
    margin-left: 20px;
}
.footer-sub{
    
    font-size: 13px;
}
.footer-tittle, .footer-sub, .footer-btn ul li, .footer-line, .reserved, .started{
    margin-left: 20px;
}

.reserved{
    font-size: 18px;
}


/* challenge part */
.challenge-part{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.inspired-card{
    width: 330px;
}
.challenge-tittle{
    font-size: 2.7rem;
    margin-left: 20px;
}
.stop, .community{
    margin-left: 20px;
}

}
/* --------------------Phone version Media Query------------------------ */

