*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
  }
body{
    background-color: black;
}

/* Header area  */
.header{
  width: 100%;
  background: linear-gradient(180.00deg,  rgb(17, 17, 17),rgba(119, 119, 119, 9) 500%);
  position: relative;
}

.logo-area{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.logo-main{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    margin-top: 50px;
}

.fa-bars{
    margin-top: 50px;
    color: white;
    position: absolute;
    left: 90%;
    top: 1%;
    font-size: 25px;
    display: none;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-nav ul{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 38px 12px 3px;
    border-radius: 39px;
}
.header-nav ul li {
    list-style: none;
    margin-right: 47px;
}
.header-nav ul li a{
    text-decoration: none;
    color: white;
}
.home{
    background-color: rgb(230, 83, 60);
    padding: 10px 35px 10px 35px;
    border-radius: 39px;
    font-size: 18px;
}

/* tittle area */
.tittle-area{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.header-tittle{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
}


.header-sub{
    margin-top: 28px;
}

.tittle-text button{
    margin-top: 28px;
}

.download{
    padding: 15px 40px;
    border-radius: 42px;
    border: 1px solid white;
    background: transparent;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}

.header-image{
    position: relative;
}

.workout-video{
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 17px 23px 41px 24px;
    position: absolute;
    top: 18%;
    left: 60%;
}
.video-tutorial{
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 17px 23px 41px 15px;
    display: flex;
    position: absolute;
    top: 70%;
    right: 72%;
}
.ball{
    height: 30px;
    width: 30px;
    background-color: rgb(230, 83, 60);
    border-radius: 100%;
    margin-top: 20px;

}
.ball-main{
    margin-top: 10px;
    margin-left: 13px;
}
.ball-tittle{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
.workout-tittle{
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
.workout-sub{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* Header area */


/* Shared style */
.subtittle{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.shared-btn{
    padding: 15px 40px 15px 40px;
    border-radius: 42px;
    border: none;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    color: white;
}



/* Shared style */

/* Habbit text area */
.habit-text{
    width: 1044px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}
.habbit-tittle{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.habbit-sub{
    margin-top: 15px;
    text-align: center;
}

/* image discription */

.image-details img{
    border-radius: 50%;
}

.image-discription{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 70px;
    align-items: center;
    text-align: center;
}
.time-tittle{
    color: white;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.image-sub{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

/* Habbit text area */

/* Run area */
    .run-area{
        width: 1060px;
        height: 370px;
        margin: 0 auto;
        background-color: rgb(34, 34, 34);
        margin-top: 120px;
        border-radius: 18px;
    }
    .run-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .run-image img{
        width: 366px;
        height: 300px;
        margin-right: 32px;
        margin-top: 35px;
        border-radius: 18px;
    }
    .run-text{
        margin-left: 54px;
        margin-top: 50px;
    }

    .run-tittle{
        font-size: 3rem;
        font-weight: 900;
        color: white;
    }
    .run-subtittle{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .join-btn{
        padding: 14px 70px 14px 70px;
        border: none;
        border-radius: 42px;
        background-color: rgb(230, 83, 60);
        color: white;
        font-size: 14px;
        font-weight: 600;
        margin-top: 35px;
    }
/* Run area */

/* Training and exercise */
    .training{
        width: 1060px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .training-tittle{
        font-size: 3rem;
        font-weight: 900;
        color: white;
        
    }
    .training-subtittle{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 0.3px;
        margin-top: 14px;
        
    }

    .image-collage{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .image-1{
        height: 218px;
        width: 100%;
    }
    
/* Training and exercise */

/* BMI Calculator */
.bmi{
    width: 600px;
    margin: 0 auto;
    margin-top: 88px;
}
.bmi-tittle{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.bmi-subtittle{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}

/* bmi chart */
.bmi-chart{
    height: 500px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    margin-top: 90px;
    margin: 0 auto;
    margin-top: 90px;
}
.bmi-with{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.cart-tittle{
    font-size: 1.75rem;
    color: white;
    margin-top: 60px;
}

/* table */
table{
    border-collapse: collapse;
}
td, th{
    border:1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 40px;
    width: 160px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* form */
.common{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* CSS end */


/* -------------------Tablet version Media Query------------------------- */
@media screen and (min-width:576px) and (max-width:992px) {
  .logo-area{
    width: 100%;
  }
  .tittle-area{
    flex-direction: column;
    width: 100%;
  }
  .workout-video{
    left: 50%;
  }

  .video-tutorial{
    right: 65%;
  }
  .logo-main{
    margin-left: 30px;
  }
 .header-nav{
    margin-right: 30px;
 }
 .header-tittle,
 .header-sub,
 .join {
 margin-left: 42px;
 }


 .head-image{
   margin-left: 150px;
 }

 /* habbit text */
 .habit-text{
    width: 100%;
 }
 
.image-discription{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
}
/* run area */
.run-area{
    width: 700px;
}
.run-tittle{
    font-size: 2.2rem;
}
.run-image img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.run-text{
    margin-left: 20px;
    align-items: center;
    
}
.run-tittle{
    font-size: 3rem;
}
.run-subtittle{
    align-items: center;
    font-size: 12px;
}


/* Exercise area */
.training{
    display: none;
}

}






/* -------------------Tablet version Media Query------------------------- */


/* --------------------Phone version Media Query------------------------- */
@media screen and (max-width:576px) {
    .fa-bars{
        display: block;
    }
    .header-nav{
        display: none;
    }

    .logo-area{
        width: 100%;
    }
  
    .logo-main{
        margin-left: 20px;
    }

    /* tittle area */
    .header-tittle{
        font-size: 3rem;
        margin-left: 20px;
    }
    .header-sub{
        font-size: 15px;
        margin-left: 20px;
        
    }
    .tittle-area{
        flex-direction: column;
        width: 100%;
    }

    
    .workout-video{
        top: 14%;
        left: 50%;
    }
    .video-tutorial{
        top: 40%;
        right: 50%;
    }

   .download{
    margin-left: 5px;
   }
   .join{
    margin-left: 8px;
   }

   /* Habbit text */
   .habit-text{
    width: 100%;
    margin-top: 10px;
 }
  .habbit-tittle{
    font-size: 2rem;
  }
  .habbit-sub{
    font-size: 14px;
  }

  .image-discription{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

  /* image discription */

  /* run area */
  .run-area{
    width: 400px;
    height: 630px;
  }
  .run-flex{
    flex-direction: column;
  }
  .run-text{
    margin-left: 45px;
  }
  .run-tittle{
    font-size: 2.3rem;
  }
  .run-subtittle{
    font-size: 14px;
    margin: 14px 0px;
  }
 
  .run-image img{
    width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.join-btn{
    padding: 14px 120px 14px 120px;
}

/* exercise */
.training{
    display: none;
}

/*  */
}
/* --------------------Phone version Media Query------------------------ */

